footer#pageFooter {
  width: 100%;
  height: 60px;
  background-color: #000;
  padding-left: em(24);
  padding-top: em(8);
  @include media($medium-screen) {
    padding-top: em(16);
  }

  li {
    float: left;
    line-height: 1.5em;
    margin-left: em(16);
    color: #ababab;
    font-size: $base-font-size * .8;
  }

  .action {
    color: $action-color;
    font-weight: 600;
  }

  a {
    color: #ababab;
    &:hover {
      color: #e9e6e6;
    }
  }

  ul.middle {
    @include media($medium-screen) {
      @include span-columns(6);
      @include shift(2);
    }
  }

  i {
    color: inherit;
  }

}
