.gallery { 
  @include outer-container;
  margin: 0 auto;
  margin-left: 1em;
  margin-right: 1em;

  header {
    p.tagline {
      margin-bottom: em(24);
      padding-bottom: em(24);
    }

  }

  h1 { text-align: center; }
 
  ul { text-align: center; }

 li {
     @include media($medium-screen) {
       @include span-columns(3);
       @include omega(4n);
     }
     margin-bottom: em(36);
   a {
      color: $base-font-color;
      @include clearfix;
      &:hover {
      opacity: .5;
      }
    }
  }
}
