.navigation {
  $large-screen: em(860) !default;
  $large-screen: $large-screen;
  height: em(70);

  box-shadow: inset 0 1px 5px #b9b9bd;

  // Mobile view
  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    margin-right: em(16);
    padding-top: 1.6em;
    padding-right: 1.6em;

    @include media ($large-screen) {
      display: none;
    }
  }

  // Nav menu
  .navigation-wrapper {
    @include clearfix;
    position: relative;
  }

  .logo {
    float: left;
    margin-left: em(16);
    @include media($medium-screen) {
      margin-left: em(81);
    }
    color: #000000; 
    font-family: $heading-font-family;
    font-size: em(24);
    font-weight: 700;
    padding-top: .8em;
    .action {
      color: $action-color;
    }
  }

  nav {
    float: none;

    @include media ($large-screen) {
      float: right;
      margin-right: em(81);
      line-height: 1.5em;
      padding-top: 1.5em;
    }
  }

  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;

    @include media ($large-screen) {
      display: block;
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }
  }

  // Nav items
  ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;

    @include media ($large-screen) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
    }
  }

  li.nav-link a {
    display: inline-block;
    color: $blue;

    @include media ($large-screen) {
      padding-right: 1em;
    }
  }
}

