
.hero .tagline {
  font-family: $heading-font-family;
}

.tagline {
  text-align: center;
  font-size: $base-font-size * 1;
  @include media($large-screen){
    font-size: em(24);
  }
  font-family: $heading-font-family;
}

.hero {

  .cta {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;

    button {
      @include media($medium-screen){
      margin-top: em(54);
      }
      margin-bottom: em(16);
      width: 200px;
    }
    form {
      margin-bottom: em(16);
      display: inline;
    }
  }
}

section.animators {
  @include clearfix;
  margin-left: em(16);
  margin-right: em(16);
}

div.activities {
  overflow: hidden;
  padding-bottom: em(24);
}






