.hero .tagline {
  font-family: $heading-font-family;
}

.hero {

  header {
    margin-top: 1.25em;
  }

  .cta {
    text-align: center;

    button {
      margin-bottom: em(16);
      width: 200px;
    }
    form {
      margin-bottom: em(16);
      display: inline;
    }
  }

  .bodytext {
    @include clearfix;
    margin-left: em(16);
    font-size: $base-font-size * 1.3;
    line-height: 1.6em;
    ul {
      @extend %default-ul;
    }
  }

  .leftadd {
    @include media($large-screen){
      @include span-columns(5);
      @include shift(2);
      margin-right: 0;
    }
  }

  .rightadd {
    @include media($large-screen) {
      @include span-columns(5);
    }
  }
}

section.animators {
  @include clearfix;
  p {
    padding: 0 .5em 0;
  }
}

div.activities {
  overflow: hidden;
  padding-bottom: em(24);
}
