
.hero .tagline {
  font-family: $heading-font-family;
}

.hero {

  .cta {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;

    button {
      margin-bottom: em(16);
      width: 200px;
    }
    form {
      margin-bottom: em(16);
      display: inline;
    }
  }

  h1 {
    @include media($large-screen){
      font-size: em(24);
    }
    text-align: center;
    font-size: $base-font-size * 1;
    font-family: $heading-font-family;
    margin-bottom: em(36);
    line-height: 1.6em;
    letter-spacing: .08em;
  }
}

section.animators {
  @include clearfix;
  margin-left: em(16);
  margin-right: em(16);
  p {
    padding: 0 .5em 0;
  }
}

div.activities {
  overflow: hidden;
  padding-bottom: em(24);
}
