
  .banner-schermen {
    width: 25%;
    height: 250px;
    @include media($medium-screen) {
      width: 100%;
      height: 350px;
    }
    background-image: url('../../images/sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .banner-boogschieten {
    width: 25%;
    height: 250px;
    @include media($medium-screen) {
      width: 100%;
      height: 350px;
    }
    background-image: url('../../images/sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -351px;
  }

  .banner-sumoworstelen {
    width: 25%;
    height: 250px;
    @include media($medium-screen) {
      width: 100%;
      height: 350px;
    }
    background-image: url('../../images/sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -702px;
  }

  .banner-blaaspijpschieten {
    width: 25%;
    height: 250px;
    @include media($medium-screen) {
      width: 100%;
      height: 350px;
    }
    background-image: url('../../images/sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -1053px;
  }

  .banner-kruisboogschieten {
    width: 25%;
    height: 250px;
    @include media($medium-screen) {
      width: 100%;
      height: 350px;
    }
    background-image: url('../../images/sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -1404px;
  }

  .gallery-schermen {
    width: 225px;
    height: 156px;
    background-image: url('../../images/gallery-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
  }

  .gallery-boogschieten {
    width: 225px;
    height: 156px;
    background-image: url('../../images/gallery-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -157px;
  }

  .gallery-kleiduifschieten {
    width: 225px;
    height: 156px;
    background-image: url('../../images/gallery-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -314px;
  }

  .gallery-sumoworstelen {
    width: 225px;
    height: 156px;
    background-image: url('../../images/gallery-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -471px;
  }

  .gallery-blaaspijpschieten {
    width: 225px;
    height: 156px;
    background-image: url('../../images/gallery-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -628px;
  }

  .gallery-kruisboogschieten {
    width: 225px;
    height: 156px;
    background-image: url('../../images/gallery-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -785px;
  }

 .schermen-1 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/schermen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
 }

 .schermen-2 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/schermen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -157px;
 }

 .schermen-3 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/schermen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -314px;
 }

 .schermen-4 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/schermen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -471px;
 }

 .schermen-5 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/schermen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -628px;
 }

 .schermen-6 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/schermen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -785px;
 }

 .schermen-7 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/schermen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -942px;
 }

 .schermen-8 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/schermen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -1099px;
 }

 .boogschieten-1 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/boogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
 }

 .boogschieten-2 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/boogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -157px;
 }

 .boogschieten-3 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/boogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -314px;
 }

 .boogschieten-4 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/boogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -471px;
 }

 .boogschieten-5 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/boogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -628px;
 }

 .boogschieten-6 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/boogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -785px;
 }

 .boogschieten-7 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/boogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -942px;
 }

 .boogschieten-8 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/boogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -1099px;
 }

 .kleiduifschieten-1 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kleiduifschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
 }

 .kleiduifschieten-2 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kleiduifschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -157px;
 }

 .kleiduifschieten-3 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kleiduifschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -314px;
 }

 .kleiduifschieten-4 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kleiduifschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -471px;
 }

 .kleiduifschieten-5 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kleiduifschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -628px;
 }

 .kleiduifschieten-6 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kleiduifschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -785px;
 }

 .kleiduifschieten-7 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kleiduifschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -942px;
 }

 .kleiduifschieten-8 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kleiduifschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -1099px;
 }

 .sumoworstelen-1 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/sumoworstelen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
 }

 .sumoworstelen-2 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/sumoworstelen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -157px;
 }

 .sumoworstelen-3 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/sumoworstelen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -314px;
 }

 .sumoworstelen-4 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/sumoworstelen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -471px;
 }

 .sumoworstelen-5 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/sumoworstelen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -628px;
 }

 .sumoworstelen-6 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/sumoworstelen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -785px;
 }

 .sumoworstelen-7 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/sumoworstelen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -942px;
 }

 .sumoworstelen-8 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/sumoworstelen-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -1099px;
 }

 .blaaspijpschieten-1 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/blaaspijpschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
 }

 .blaaspijpschieten-2 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/blaaspijpschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -157px;
 }

 .blaaspijpschieten-3 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/blaaspijpschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -314px;
 }

 .blaaspijpschieten-4 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/blaaspijpschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -471px;
 }

 .blaaspijpschieten-5 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/blaaspijpschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -628px;
 }

 .blaaspijpschieten-6 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/blaaspijpschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -785px;
 }

 .blaaspijpschieten-7 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/blaaspijpschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -942px;
 }

 .blaaspijpschieten-8 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/blaaspijpschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -1099px;
 }

.kruisboogschieten-1 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kruisboogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
 }

 .kruisboogschieten-2 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kruisboogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -157px;
 }

 .kruisboogschieten-3 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kruisboogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -314px;
 }

 .kruisboogschieten-4 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kruisboogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -471px;
 }

 .kruisboogschieten-5 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kruisboogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -628px;
 }

 .kruisboogschieten-6 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kruisboogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -785px;
 }

 .kruisboogschieten-7 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kruisboogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -942px;
 }

 .kruisboogschieten-8 {
    width: 225px;
    height: 156px;
    background-image: url('../../images/kruisboogschieten-sprite.jpg');
    background-repeat: no-repeat;
    background-position: 0 -1099px;
 }

