.team {
  @include outer-container;

  section.animators {
    ul {
      @include clearfix;
      text-align: center;
      margin-bottom: em(36);
    }

    li {
      @include media($medium-screen) {
        @include span-columns(4);
      }
    }
  }

  header {
    @include media($medium-screen) {
      @include span-columns(8);
      @include shift(2);
    }
    margin-bottom: em(54);
  }

  h2 {
    margin-top: em(16);
    color: $action-color;
  }
}
