.team {
  section.animators {
  @include outer-container;

  li {
    @include span-columns(4);
    }
  }

  header {
    @include span-columns(8);
    @include shift(2);
    margin-top: em(36);
    margin-bottom: em(81);

    ul {
      @include clearfix;
    }
  }

  p.tagline {
    text-align: center;
    font-family: $heading-font-family;
    font-size: em(24);
  }

  h2 {
    margin-top: em(16);
    color: $action-color;
  }
}
