<footer id="pageFooter" role="contentinfo">
  <ul class="leftcol">
    <li><span class="action">&copy; ActionMaker</span> Teambuilding en Activiteiten</li>
  </ul>
  <ul class="middle">
    <li>Fratersplein 10, 9000 Gent</li>
    <li><i class="fa fa-phone"></i><a href="tel:0485462504">0485 46 25 04</a></li>
    <li><i class="fa fa-envelope"></i><a href="mailto:info@actionmaker.be">info@actionmaker.be</a></li>
  </ul>
</footer>
