<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <%= image_tag "logo.jpg" %>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li data-menuanchor="about" class="nav-link"><a href="#about">Over ActionMaker</a></li>
        <li data-menuanchor="activities" class="nav-link"><a href="#activities">Teambuilding</a></li>
        <li class="nav-link"><a href="/contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>

<script>
  $(document).ready(function() {
    var menuToggle = $('#js-mobile-menu').unbind();
    $('#js-navigation-menu').removeClass("show");

    menuToggle.on('click', function(e) {
      e.preventDefault();
      $('#js-navigation-menu').slideToggle(function(){
        if($('#js-navigation-menu').is(':hidden')) {
          $('#js-navigation-menu').removeAttr('style');
        }
      });
    });
  });
</script>
