---
title: "Infrarood biathlon- en sportpistoolschieten"
description: "Bij het infrarood biathlonschieten wordt er met omgebouwde biathlongeweren geschoten op een biathlon doel"
---

<section class="banner">
  <img 
  srcset="images/banner-biathlonschieten-large.jpg 2850w,
          images/banner-biathlonschieten-medium.jpg 1425w,
          images/banner-biathlonschieten-small.jpg 700w"
  src="images/banner-biathlonschieten-medium.jpg" alt="infrarood biathlon- en sportpistoolschieten" />
</section>
<article class="activity">
  <header>
    <h1>Infrarood biathlon- en sportpistoolschieten</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>Bij het infrarood biathlonschieten wordt er met omgebouwde biathlongeweren geschoten op een biathlon doel, de sportpistolen worden op een normaal doel gericht. Aan de hand van de lichten en de console die bij het geweer/pistool horen weet u waar u raak geschoten heeft.</p>
    <p>De console toont uw schietpatroon zodanig dat u dit makkelijk kan aanpassen. Dit is een superleuke ervaring voor zowel volwassenen als kinderen. Het infrarood biathlon- en sportpistool schieten is daarenboven ook nog volledig veilig en milieuvriendelijk en kan zowel binnen als buiten plaatsvinden.</p>
  </section>
  <section class="contactform">
    <form name="info-biathlonschieten" action="/bedankt.html" netlify>
      <fieldset>
        <h2>Vraag meer info over Biathlonschieten:</h2>
        <div class="field">
          <label for="name">Naam: </label>
          <input type="text" name="name" id="name" maxlength="40" size="40" required autofocus />
        </div>
        <div class="field">
          <label for="mail">Email: </label>
          <input type="email" name="mail" id="mail" maxlength="40" size="40" required />
        </div>
        <div class="field">
          <label for="phone">Telefoon: </label>
          <input type="text" name="phone" id="phone" size="15" maxlength="15" placeholder="vb. 0498137260" />
        </div>
        <div class="field">
          <label for="msg">Stel je vraag: </label><br>
          <textarea name="msg" id="msg"></textarea>
        </div>
        <div class="button">
          <button>Vraag informatie</button>
        </div>
      </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/biathlonschieten-1-big.jpg"><img src="//:0" class="biathlonschieten-1" /></a></li>
      <li><a href="/images/biathlonschieten-2-big.jpg"><img src="//:0" class="biathlonschieten-2" /></a></li>
      <li><a href="/images/biathlonschieten-3-big.jpg"><img src="//:0" class="biathlonschieten-3" /></a></li>
      <li><a href="/images/biathlonschieten-4-big.jpg"><img src="//:0" class="biathlonschieten-4" /></a></li>
      <li><a href="/images/biathlonschieten-5-big.jpg"><img src="//:0" class="biathlonschieten-5" /></a></li>
      <li><a href="/images/biathlonschieten-6-big.jpg"><img src="//:0" class="biathlonschieten-6" /></a></li>
      <li><a href="/images/biathlonschieten-7-big.jpg"><img src="//:0" class="biathlonschieten-7" /></a></li>
      <li><a href="/images/biathlonschieten-8-big.jpg"><img src="//:0" class="biathlonschieten-8" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
