<section class="banner">
  <%= image_tag "banner-blaaspijpschieten.jpg" %>
</section>
<article class="activity">
  <header>
    <h1>Blaaspijpschieten</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>Blaaspijpschieten is erg populair. Het is een spannende en uitdagende activiteit voor alle leeftijden.</p>
    <p>Aan blaaspijpschieten denken, is waarschijnlijk terugdenken aan de kindertijd  met zelf gemaakte blaaspijpen  uit pvc- of kartonbuizen en met papieren pijltjes.</p>
    <p>Hier gaat het om een echte blaaspijp met echte pijltjes ( het is een echt wapen, waarvoor bij aankoop een identiteitskaart vereist is). Het lijkt heel erg simpel, maar er komt meer oefening en techniek bij kijken dan men denkt.</p>
    <h2>Hoe gaan we te werk?</h2>
    <p>De initiatie blaaspijpschieten verloopt als volgt:</p>
    <ul>
      <li>korte uitleg over blaaspijpschieten</li>
      <li>oefensessie</li>
      <li>duel tussen twee teams</li>
   </ul>
<p>De tijdsduur van het blaaspijp schieten is afhankelijk van uw wensen en varieert van 30 minuten tot 1 uur.</p>
<p>Blaaspijpschieten kan zowel buiten als binnen en kan gemakkelijk gecombineerd worden met één van onze andere activiteiten zoals schermen en boogschieten.</p>
  </section>
  <section class="contactform">
    <form>
      <fieldset>
      <div class="field">
        <label for="name">Naam:</label>
        <input type="text" id="name" />
      </div>
      <div class="field">
        <label for="mail">Email:</label>
        <input type="email" id="mail" />
      </div>
      <div class="field">
        <label for="phone">Telefoon:</label>
        <input type="text" id="phone" />
      </div>
      <div class="field">
        <label for="msg">Bijkomende informatie:</label>
        <textarea id="msg"></textarea>
      </div>
      <div class="button">
        <button>Verzenden</button>
      </div>
    </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/blaaspijpschieten-1-big.jpg"><img class="blaaspijpschieten-1" /></a></li>
      <li><a href="/images/blaaspijpschieten-2-big.jpg"><img class="blaaspijpschieten-2" /></a></li>
      <li><a href="/images/blaaspijpschieten-3-big.jpg"><img class="blaaspijpschieten-3" /></a></li>
      <li><a href="/images/blaaspijpschieten-4-big.jpg"><img class="blaaspijpschieten-4" /></a></li>
      <li><a href="/images/blaaspijpschieten-5-big.jpg"><img class="blaaspijpschieten-5" /></a></li>
      <li><a href="/images/blaaspijpschieten-6-big.jpg"><img class="blaaspijpschieten-6" /></a></li>
      <li><a href="/images/blaaspijpschieten-7-big.jpg"><img class="blaaspijpschieten-7" /></a></li>
      <li><a href="/images/blaaspijpschieten-8-big.jpg"><img class="blaaspijpschieten-8" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
