---
title: "Boogschieten"
description: "Na een korte kennismaking wordt uitleg gegeven over het boogschieten onder andere over de verschillende bogen."
---

<section class="banner">
  <img 
  srcset="images/banner-boogschieten-large.jpg 2850w,
          images/banner-boogschieten-medium.jpg 1425w,
          images/banner-boogschieten-small.jpg 700"
  src="images/banner-boogschieten-medium.jpg" alt="boogschieten" />
</section>
<article class="activity">
  <header>
    <h1>Boogschieten</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>Het duel zal uitgevoerd worden met de recurve boog. Eerst schieten de deelnemers een aantal oefenpijlen. De animator probeert de schiethouding van de schutters te verbeteren.</p>
    <p>Het is zeker niet eenvoudig maar men kan zich snel verbeteren. Na een aantal pijlen zal blijken dat men zich steeds meer vertrouwd voelt met de houding en het schieten.</p>
  </section>
  <section class="contactform">
    <form name="info-boogschieten" action="/bedankt.hml">
      <fieldset>
      <div class="field">
        <label for="name">Naam:</label>
        <input type="text" name="name"/>
      </div>
      <div class="field">
        <label for="mail">Email:</label>
        <input type="email" name="mail" />
      </div>
      <div class="field">
        <label for="phone">Telefoon:</label>
        <input type="text" name="phone" />
      </div>
      <div class="field">
        <label for="msg">Bijkomende informatie:</label>
        <textarea name="msg"></textarea>
      </div>
      <div class="button">
        <button>Verzenden</button>
      </div>
    </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/boogschieten-1-big.jpg"><img class="boogschieten-1" /></a></li>
      <li><a href="/images/boogschieten-2-big.jpg"><img class="boogschieten-2" /></a></li>
      <li><a href="/images/boogschieten-3-big.jpg"><img class="boogschieten-3" /></a></li>
      <li><a href="/images/boogschieten-4-big.jpg"><img class="boogschieten-4" /></a></li>
      <li><a href="/images/boogschieten-5-big.jpg"><img class="boogschieten-5" /></a></li>
      <li><a href="/images/boogschieten-6-big.jpg"><img class="boogschieten-6" /></a></li>
      <li><a href="/images/boogschieten-7-big.jpg"><img class="boogschieten-7" /></a></li>
      <li><a href="/images/boogschieten-8-big.jpg"><img class="boogschieten-8" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
