---
title: ActionMaker | Contact 
---
<section class="banner">
  <img 
  srcset="images/banner-large.jpg 2850w,
          images/banner-medium.jpg 1425w,
          images/banner-small.jpg 700w"
  src="images/banner-medium.jpg alt="schermen" />
</section>
<article class="contact">
  <header>
    <p class="tagline">
    <span class="action">Action</span>Maker is flexibel. Laat ons je ideeën
weten voor een teambuilding event. Wij brengen
het in de praktijk.  
    </p>
  </header>
  <div class="content">
    <section class="bodytext">
      <h2>Contactgegevens</h2>
      <p>Action Maker<br />
      Frederiek Troubleyn<br />
      Fratersplein 10<br />
      9000 Gent</p>
      <p>Ondernemingsnummer: 0829.846.975</p>
      <p><i class="fa fa-phone"></i><a href="tel:0485462505">0485462505</a><br />
      <i class="fa fa-envelope"></i><a href="mailto:info@actionmaker.be">info@actionmaker.be</a></p>
    </section>
    <aside>
      <%= image_tag "contact.jpg" %>
    </aside>
</div>
</article>

