---
title: "Djembe"
description: "Als één team muziek maken creëert een unieke ervaring en zorgt voor een positief groepsgevoel"
---

<section class="banner">
  <img 
  srcset="images/banner-djembe-large.jpg 2850w,
          images/banner-djembe-medium.jpg 1425,
          images/banner-djembe-small.jpg 700w"
  src="images/banner-djembe-medium.jpg" alt="djembe" />
</section>
<article class="activity">
  <header>
    <h1>Djembe</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>Deze teambuilding is ideaal om de teamgeest te versterken.</p>
    <p>Als één team muziek maken creëert een unieke ervaring en zorgt voor een positief groepsgevoel. Het laat collega’s inzetten op samenspel en biedt hen een andere manier om met elkaar in communicatie te treden. De groepsdynamiek wordt hierdoor positief beïnvloed.</p>
    <p>Voorkennis is niet vereist.</p>
  </section>
  <section class="contactform">
    <form name="info-schermen" action="/bedankt.html" netlify>
      <fieldset>
      <h2>Vraag meer info over djembe:</h2>
      <div class="field">
        <label for="name">Naam: </label>
        <input type="text" name="name" id="name" required autofocus />
      </div>
      <div class="field">
        <label for="mail">Email: </label>
        <input type="email" name="mail" id="mail" required />
      </div>
      <div class="field">
        <label for="phone">Telefoon: </label>
        <input type="text" name="phone" id="phone" size="15" maxlength="15" placeholder="vb. 0498147270" />
      </div>
      <div class="field">
        <label for="msg">Stel je vraag: </label><br>
        <textarea name="msg" id="msg"></textarea>
      </div>
      <div class="button">
        <button>Vraag informatie</button>
      </div>
    </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/djembe-1-big.jpg"><img src="//:0" class="djembe-1" /></a></li>
      <li><a href="/images/djembe-2-big.jpg"><img src="//:0" class="djembe-2" /></a></li>
      <li><a href="/images/djembe-3-big.jpg"><img  src="//:0" class="djembe-3" /></a></li>
      <li><a href="/images/djembe-4-big.jpg"><img  src="//:0" class="djembe-4" /></a></li>
      <li><a href="/images/djembe-5-big.jpg"><img  src="//:0" class="djembe-5" /></a></li>
      <li><a href="/images/djembe-6-big.jpg"><img  src="//:0" class="djembe-6" /></a></li>
      <li><a href="/images/djembe-7-big.jpg"><img  src="//:0" class="djembe-7" /></a></li>
      <li><a href="/images/djembe-8-big.jpg"><img  src="//:0" class="djembe-8" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
