---
title: Welcome to Middleman
stylesheet: jquery.fullPage
---
<div id="fullpage">
  <div class="section hero">
    <div class="banner">
      <img src="../images/banner2.jpg" />
      <p class="tagline">ActionMaker maakt van je teambuilding, initiatie<br />of vrijgezellen activiteit een onvergetelijk moment</p>
    </div>
    <form action="#activities" method="get">
      <button class="activiteiten">Onze Activiteiten</button>
    </form>
    <form action="#team" method="get">
      <button class="team">Ons Team</button>
    </form>
  </div>

  <div class="section activities">
    <section class="gallery">
      <header>
        <p class="tagline">Maak je keuze uit ons aanbod van activiteiten</p>
      </header>
      <ul>
        <li><a href="#"><img src="../images/gallery1.jpg" /></a>Blaaspijpschieten</li>
        <li><a href="#"><img src="../images/gallery2.jpg" /></a>Boogschieten</li>
        <li><a href="#"><img src="../images/gallery3.jpg" /></a>Kleiduifschieten</li>
          <li><a href="#"><img src="../images/gallery4.jpg" /></a>Sumoworstelen</li>
          <li><a href="#"><img src="../images/gallery1.jpg" /></a>Blaaspijpschieten</li>
          <li><a href="#"><img src="../images/gallery2.jpg" /></a>Boogschieten</li>
          <li><a href="#"><img src="../images/gallery3.jpg" /></a>Kleiduifschieten</li>
          <li><a href="#"><img src="../images/gallery4.jpg" /></a>Sumoworstelen</li>
      </ul>
    </section>
  </div>
  <div class="section team">
    <section class="animators">
    <header>
      <p class="tagline">ActionMaker werkt met enthousiaste en gemotiveerde medewerkers die op professionele wijze jou en je medewerkers begeleiden.</p>
    </header>
    <ul>
      <li><img src="../images/hanne-cooreman.jpg" />
      <h2>Hanne Cooreman</h2>
      <p>Hanne Cooreman is ex-Belgisch kampioen in het sabelschermen
en is afgestudeerd in de pedagogische wetenschappen</p>
      </li>
      <li><img src="../images/hanne-cooreman.jpg" />
      <h2>Hanne Cooreman</h2>
      <p>Hanne Cooreman is ex-Belgisch kampioen in het sabelschermen
en is afgestudeerd in de pedagogische wetenschappen</p>
      </li>
      <li><img src="../images/hanne-cooreman.jpg" />
      <h2>Hanne Cooreman</h2>
      <p>Hanne Cooreman is ex-Belgisch kampioen in het sabelschermen
en is afgestudeerd in de pedagogische wetenschappen</p>
      </li>
    </ul>
  </section>
  </div>
</div>

<script type="text/javascript">
 $(document).ready(function() {
   $('#fullpage').fullpage(
     {
       anchors: ['hero', 'activities', 'team']
     }
   );
}); 
</script>
