---
title: Welcome to Middleman
stylesheet: jquery.fullPage
---
<div id="fullpage">
  <div class="section hero">
    <div class="banner">
      <img src="../images/banner2.jpg" />
      <p class="tagline">ActionMaker maakt van je teambuilding, initiatie<br />of vrijgezellen activiteit een onvergetelijk moment</p>
    </div>
    <div class="cta">
      <form action="#activities" method="get">
        <button class="activiteiten">Onze Activiteiten</button>
      </form>
      <form action="#team" method="get">
        <button class="team">Ons Team</button>
      </form>
    </div>
  </div>

  <div class="section activities">
    <section class="gallery">
      <header>
        <p class="tagline">Maak je keuze uit ons aanbod van activiteiten</p>
      </header>
      <ul>
        <li><a href="#"><img src="../images/gallery1.jpg" /></a>Blaaspijpschieten</li>
        <li><a href="#"><img src="../images/gallery2.jpg" /></a>Boogschieten</li>
        <li><a href="#"><img src="../images/gallery3.jpg" /></a>Kleiduifschieten</li>
          <li><a href="#"><img src="../images/gallery4.jpg" /></a>Sumoworstelen</li>
          <li><a href="#"><img src="../images/gallery1.jpg" /></a>Blaaspijpschieten</li>
          <li><a href="#"><img src="../images/gallery2.jpg" /></a>Boogschieten</li>
          <li><a href="#"><img src="../images/gallery3.jpg" /></a>Kleiduifschieten</li>
          <li><a href="#"><img src="../images/gallery4.jpg" /></a>Sumoworstelen</li>
      </ul>
    </section>
  </div>
  <div class="section team">
    <section class="animators">
    <header>
      <p class="tagline">ActionMaker werkt met enthousiaste en gemotiveerde medewerkers die op professionele wijze jou en je medewerkers begeleiden.</p>
    </header>
    <ul>
      <li><img src="../images/hanne-cooreman.jpg" />
      <h2>Hanne Cooreman</h2>
      <p>Hanne Cooreman is ex-Belgisch kampioen in het sabelschermen
en is afgestudeerd in de pedagogische wetenschappen</p>
      </li>
      <li><img src="../images/hanne-cooreman.jpg" />
      <h2>Hanne Cooreman</h2>
      <p>Hanne Cooreman is ex-Belgisch kampioen in het sabelschermen
en is afgestudeerd in de pedagogische wetenschappen</p>
      </li>
      <li><img src="../images/hanne-cooreman.jpg" />
      <h2>Hanne Cooreman</h2>
      <p>Hanne Cooreman is ex-Belgisch kampioen in het sabelschermen
en is afgestudeerd in de pedagogische wetenschappen</p>
      </li>
    </ul>
  </section>
  </div>
  <div class="section referrals">
    <section class="customers">
    <header>
      <p class="tagline">Wat zeggen de klanten over ons?</p>
    </header>
      <ul class="logos">
        <li><%= image_tag "mastercard-96x80.jpg" %></li>
        <li><%= image_tag "toyota-106x80.jpg" %></li>
        <li><%= image_tag "mastercard-96x80.jpg" %></li>
        <li><%= image_tag "toyota-106x80.jpg" %></li>
      </ul>
    </section>
    <section class="quotes">
      <ul class="refboxes">
        <li><i class="fa fa-quote-left"></i>Hello Frederiek,<br />
        All our European Communications Team at MasterCard would like to thank you &amp; your amazing team! We had a great time, filled with fun, laughs and hilarious moments! <i class="fa fa-quote-right"></i></li>
        <li><i class="fa fa-quote-left"></i>Hello Frederiek,<br />

        All our European Communications Team at MasterCard would like to thank you &amp; your amazing team! We had a great time, filled with fun, laughs and hilarious moments!<i class="fa fa-quote-right"></i></li>
        <li><i class="fa fa-quote-left"></i>Hello Frederiek,<br />
        All our European Communications Team at MasterCard would like to thank you &amp; your amazing team! We had a great time, filled with fun, laughs and hilarious moments! <i class="fa fa-quote-right"></i></li>
        <li><i class="fa fa-quote-left"></i>Hello Frederiek,<br />
        All our European Communications Team at MasterCard would like to thank you &amp; your amazing team! We had a great time, filled with fun, laughs and hilarious moments! <i class="fa fa-quote-right"></i></li>
      </ul>
    </section>
    <footer id="pageFooter" role="contentinfo">
      <ul class="leftcol">
        <li><span class="action">&copy; ActionMaker</span></li>
      </ul>
      <ul class="middle">
        <li>Fratersplein 10, 9000 Gent</li>
        <li><i class="fa fa-phone"></i><a href="tel:0485462504">0485 46 25 04</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:info@actionmaker.be">info@actionmaker.be</a></li>
      </ul>
    </footer>
  </div>
</div>

<script type="text/javascript">
 $(document).ready(function() {
   $('#fullpage').fullpage(
     {
     anchors: ['hero', 'activities', 'team', 'referrals'],
     autoScrolling: false
     }
   );
}); 
</script>
