---
title: Welcome to Middleman
stylesheet: jquery.fullPage
hide_footer: true
---
<div id="fullpage">
  <div class="section hero">
    <div class="banner">
      <ul class="bxslider">
        <li><img
        srcset="images/banner-large.jpg 2850w,
                images/banner-medium.jpg 1425w,
                images/banner-small.jpg 700w"
        src="images/banner-medium.jpg" alt="schermen" /></li>
        <li><img
        srcset="images/banner-boogschieten-large.jpg 2850w,
                images/banner-boogschieten-medium.jpg 1425w,
                images/banner-boogschieten-small.jpg 700w"
        src="images/banner-boogschieten-medium.jpg" alt="boogschieten" /></li>
        <li><img
        srcset="images/banner-kleiduifschieten-large.jpg 2850w,
                images/banner-kleiduifschieten-medium.jpg 1425w,
                images/banner-kleiduifschieten-small.jpg 700w"
        src="images/banner-kleiduifschieten-medium.jpg" alt="kleiduifschieten" /></li>
        <li><img
        srcset="images/banner-sumoworstelen-large.jpg 2850w,
                images/banner-sumoworstelen-medium.jpg 1425w,
                images/banner-sumoworstelen-small.jpg 700w"
        src="images/banner-sumoworstelen-medium.jpg" alt="sumoworstelen" /></li>
        <li><img
        srcset="images/banner-blaaspijpschieten-large.jpg 2850w,
                images/banner-blaaspijpschieten-medium.jpg 1425w,
                images/banner-blaaspijpschieten-small.jpg 700w"
        src="images/banner-blaaspijpschieten-medium.jpg" alt="blaaspijpschieten" /></li>
        <li><img
        srcset="images/banner-pistool-kruisboogschieten-large.jpg 2850w,
                images/banner-pistool-kruisboogschieten-medium.jpg 1425w,
                images/banner-pistool-kruisboogschieten-small.jpg 700w"
        src="images/banner-pistool-kruisboogschieten-medium.jpg" alt="pistoolkruisboogschieten" /></li>
        <li><img
        srcset="images/banner-pistoolschieten-large.jpg 2850w,
                images/banner-pistoolschieten-medium.jpg 1425w,
                images/banner-pistoolschieten-small.jpg 700w"
        src="images/banner-pistoolschieten-medium.jpg" alt="pistoolschieten" /></li>
        <li><img
        srcset="images/banner-kruisboogschieten-large.jpg 2850w,
                images/banner-kruisboogschieten-medium.jpg 1425w,
                images/banner-kruisboogschieten-small.jpg 700w"
        src="images/banner-kruisboogschieten-medium.jpg" alt="kruisboogschieten" /></li>
        <li><img
        srcset="images/banner-chocolade-large.jpg 2850w,
                images/banner-chocolade-medium.jpg 1425w,
                images/banner-chocolade-small.jpg 700w"
        src="images/banner-chocolade-medium.jpg" alt="chocolade workshop" /></li>
        <li><img
        srcset="images/banner-stadsspel-medium.jpg 1425w,
                images/banner-stadsspel-small.jpg 700w"
        src="images/banner-stadsspel-medium.jpg" alt="stadsspel" /></li>
        <li><img
        srcset="images/banner-lasershooting-large.jpg 2850w,
                images/banner-lasershooting-medium.jpg 1425w,
                images/banner-lasershooting-small.jpg 700w"
        src="images/banner-lasershooting-medium.jpg" alt="indoor lasershooting" /></li>
      </ul>
      <p class="tagline"><span class="action">Action</span>Maker maakt van je teambuilding, initiatie<br />of vrijgezellen activiteit een onvergetelijk moment</p>
    </div>
    <div class="cta">
      <form action="#activities" method="get">
        <button class="activiteiten">Onze Activiteiten</button>
      </form>
      <form action="#team" method="get">
        <button class="team">Ons Team</button>
      </form>
    </div>
  </div>

  <div class="section activities">
    <section class="gallery">
      <header>
        <h1>Onze Activiteiten</h1>
        <p class="tagline">Maak je keuze uit ons aanbod van activiteiten</p>
      </header>
      <ul>
        <li><a href="/activiteit.html"><img class="gallery-schermen" /></a><a href="/activiteit.html">Schermen</a></li>
        <li><a href="/boogschieten.html"><img class="gallery-boogschieten" /></a><a href="/boogschieten.html">Boogschieten</a></li>
        <li><a href="kleiduifschieten.html"><img class="gallery-kleiduifschieten" /></a><a href="/kleiduifschieten.html">Kleiduifschieten</a></li>
        <li><a href="sumoworstelen.html"><img class="gallery-sumoworstelen" /></a><a href="/sumoworstelen.html">Sumoworstelen</a></li>
        <li><a href="blaaspijpschieten.html"><img class="gallery-blaaspijpschieten" /></a><a href="/blaaspijpschieten.html">Blaaspijpschieten</a></li>
        <li><a href="pistool-kruisboogschieten.html"><img class="gallery-pistool-kruisboogschieten" /></a><a href="/pistool-kruisboogschieten.html">(Pistool)Kruisboogschieten</a></li>
        <li><a href="pistoolschieten.html"><img class="gallery-pistoolschieten" /></a><a href="pistoolschieten.html">Pistoolschieten</a></li>
        <li><a href="kruisboogschieten.html"><img class="gallery-kruisboogschieten" /></a><a href="kruisboogschieten.html">Kruisboogschieten</a></li>
        <li><a href="chocolade_workshop.html"><img class="gallery-chocolade" /></a><a href="chocolade_workshop.html">Chocolade Workshop</a></li>
        <li><a href="stadsspel.html"><img class="gallery-stadsspel" /></a><a href="stadsspel.html">Stadsspel</a></li>
        <li><a href="indoor-lasershooting.html"><img class="gallery-lasershooting" /></a><a href="indoor-lasershooting.html">Indoor Lasershooting</a></li>
      </ul>
    </section>
  </div>
  <div class="section about">
    <section class="over">
      <header>
        <h1>Over ActionMaker</h1>
        <p class="tagline"><span class="action">Action</span>Maker werkt met enthousiaste en gemotiveerde medewerkers die op professionele wijze jou en je medewerkers begeleiden.</p>
      </header>
      <ul>
        <li><i class="fa fa-heart-o"></i>
        <h2>Een hart voor teambuilding</h2>
        <p>Bacon ipsum dolor amet chuck cow cupim doner frankfurter salami. Meatloaf filet mignon swine frankfurter bresaola turducken pig shank kielbasa hamburger.</p>
        </li>
        <li><i class="fa fa-star-o"></i>
        <h2>Een hart voor teambuilding</h2>
        <p>Bacon ipsum dolor amet chuck cow cupim doner frankfurter salami. Meatloaf filet mignon swine frankfurter bresaola turducken pig shank kielbasa hamburger.</p>
        </li>
        <li><i class="fa fa-lightbulb-o"></i>
        <h2>Een hart voor teambuilding</h2>
        <p>Bacon ipsum dolor amet chuck cow cupim doner frankfurter salami. Meatloaf filet mignon swine frankfurter bresaola turducken pig shank kielbasa hamburger.</p>
        </li>
      </ul>
    </section>
  </div>
  <div class="section team">
    <section class="animators">
      <header>
        <h1>Ons Team</h1>
        <p class="tagline"><span class="action">Action</span>Maker werkt met enthousiaste en gemotiveerde medewerkers die op professionele wijze jou en je medewerkers begeleiden.</p>
      </header>
      <ul>
        <li><img src="../images/hanne-cooreman.jpg" />
        <h2>Hanne Cooreman</h2>
        <p>Hanne Cooreman is ex-Belgisch kampioen in het sabelschermen
  en is afgestudeerd in de pedagogische wetenschappen</p>
        </li>
        <li><img src="../images/hanne-cooreman.jpg" />
        <h2>Hanne Cooreman</h2>
        <p>Hanne Cooreman is ex-Belgisch kampioen in het sabelschermen
  en is afgestudeerd in de pedagogische wetenschappen</p>
        </li>
        <li><img src="../images/hanne-cooreman.jpg" />
        <h2>Hanne Cooreman</h2>
        <p>Hanne Cooreman is ex-Belgisch kampioen in het sabelschermen
  en is afgestudeerd in de pedagogische wetenschappen</p>
        </li>
      </ul>
    </section>
  </div>
  <div class="section referrals">
    <section class="customers">
    <header>
      <p class="tagline">Wat zeggen de klanten over ons?</p>
    </header>
      <ul class="logos">
        <li><%= image_tag "mastercard-96x80.jpg" %></li>
        <li><%= image_tag "toyota-106x80.jpg" %></li>
        <li><%= image_tag "mastercard-96x80.jpg" %></li>
        <li><%= image_tag "toyota-106x80.jpg" %></li>
      </ul>
    </section>
    <section class="quotes">
      <ul class="refboxes">
        <li data-mh="block"><i class="fa fa-quote-left"></i>Iedereen was zeer enthousiast over de uitstap,
En zeker ook over de twee workshops.
Bedankt voor je prima begeleiding en voor alle stipte afspraken.</a><i class="fa fa-quote-right"></i><br /><span class="referree">Katrien Michielssens, Retec instruments</span></li>
        <li data-mh="block"><i class="fa fa-quote-left"></i>De initiatie is mega in de smaak gevallen. Bedankt!</a><i class="fa fa-quote-right"></i><br /><span class="referree">Anja Cappelle, the Reference</span></li>
        <li data-mh="block"><i class="fa fa-quote-left"></i>Hallo Frederiek,<br />
        Alles was zeker naar wens. De reacties nadien waren heel positief!  <i class="fa fa-quote-right"></i><br /><span class="referree">Julie Dejonckheere, PwC | Consultant</span></li>
        <li data-mh="block"><i class="fa fa-quote-left"></i>Dag Frederiek,<br />
Nogmaals bedankt voor het zeer fijne event. Ik heb ondertussen niets dan positieve echo's gehoord van de mensen. <i class="fa fa-quote-right"></i><br /><span class="referree">Tom Vanoirbeek, Adecco</span></li>
      </ul>
    </section>
    <footer id="pageFooter" role="contentinfo">
      <ul class="leftcol">
        <li><span class="action">&copy; ActionMaker</span></li>
      </ul>
      <ul class="middle">
        <li>Fratersplein 10, 9000 Gent</li>
        <li><i class="fa fa-phone"></i><a href="tel:0485462504">0485 46 25 04</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:info@actionmaker.be">info@actionmaker.be</a></li>
      </ul>
    </footer>
  </div>
</div>

<script type="text/javascript">
 $(document).ready(function() {
   $('#fullpage').fullpage(
     {
     anchors: ['hero', 'activities', 'about', 'team', 'referrals'],
     autoScrolling: false,
     fitToSection: false
     }
   );
   $('.bxslider').bxSlider({
     adaptiveHeight: true
   });
}); 
</script>
