---
title: "Teambuilding Activiteiten | Action Maker"
description: "ActionMaker maakt van jouw teambuilding, initiatie of vrijgezellen activiteit een onvergetelijk moment"
stylesheet: jquery.fullPage
hide_footer: true
---
<div id="fullpage">
  <div class="section hero">
    <div class="banner">
      <ul class="bxslider">
        <li><img
        srcset="images/banner-large.jpg 2850w,
                images/banner-medium.jpg 1425w,
                images/banner-small.jpg 700w"
        src="images/banner-medium.jpg" alt="schermen" /></li>
        <li><img
        srcset="images/banner-boogschieten-large.jpg 2850w,
                images/banner-boogschieten-medium.jpg 1425w,
                images/banner-boogschieten-small.jpg 700w"
        src="images/banner-boogschieten-medium.jpg" alt="boogschieten" /></li>
        <li><img
        srcset="images/banner-kleiduifschieten-large.jpg 2850w,
                images/banner-kleiduifschieten-medium.jpg 1425w,
                images/banner-kleiduifschieten-small.jpg 700w"
        src="images/banner-kleiduifschieten-medium.jpg" alt="kleiduifschieten" /></li>
        <li><img
        srcset="images/banner-sumoworstelen-large.jpg 2850w,
                images/banner-sumoworstelen-medium.jpg 1425w,
                images/banner-sumoworstelen-small.jpg 700w"
        src="images/banner-sumoworstelen-medium.jpg" alt="sumoworstelen" /></li>
      </ul>
      <header>
        <h1><span class="action">Action Maker</span> Teambuilding Activiteiten</h1>
    </header>
    <div class="bodytext">
      <div class="leftadd">
        <ul> 
          <li>Uw actie onze zorg</li>
          <li>Aangename en collegiale sfeer</li>
          <li>Ambiance gegarandeerd</li>
          <li>Unieke belevenissen</li>
        </ul>
      </div>
      <div class="rightadd">
        <ul>
          <li>Professionele begeleiding</li>
          <li>Gemotiveerde en enthousiaste medewerkers</li>
          <li>Uitgebreid aanbod aan activiteiten</li>
          <li>Unieke animaties</li>
        </ul>
      </div>
    </div>
    <div class="cta">
      <a name="#activities"></a>
      <form action="index.html#activities" method="get">
        <button class="activiteiten">Bekijk Activiteiten</button>
      </form>
    </div>
  </div>

  <div class="section activities">
    <section class="gallery">
        <h1>Onze Activiteiten</h1>
        <p class="tagline">Maak je keuze uit ons aanbod van activiteiten</p>
      <ul>
        <li><a href="/scherminitiatie.html"><img src="//:0" class="gallery-schermen" /></a><a href="/scherminitiatie.html">Scherminitiatie</a></li>
        <li><a href="/boogschieten.html"><img src="//:0" class="gallery-boogschieten" /></a><a href="/boogschieten.html">Boogschieten</a></li>
        <li><a href="laserkleiduifschieten.html"><img src="//:0" class="gallery-kleiduifschieten" /></a><a href="/laserkleiduifschieten.html">Laserkleiduifschieten</a></li>
        <li><a href="sumoworstelen.html"><img src="//:0" class="gallery-sumoworstelen" /></a><a href="/sumoworstelen.html">Sumoworstelen</a></li>
        <li><a href="blaaspijpschieten.html"><img src="//:0" class="gallery-blaaspijpschieten" /></a><a href="/blaaspijpschieten.html">Blaaspijpschieten</a></li>
        <li><a href="pistool-kruisboogschieten.html"><img src="//:0" class="gallery-pistool-kruisboogschieten" /></a><a href="/pistool-kruisboogschieten.html">Pistoolkruisboogschieten</a></li>
        <li><a href="pistoolschieten.html"><img src="//:0" class="gallery-pistoolschieten" /></a><a href="pistoolschieten.html">Pistoolschieten</a></li>
        <li><a href="kruisboogschieten.html"><img src="//:0" class="gallery-kruisboogschieten" /></a><a href="kruisboogschieten.html">Kruisboogschieten</a></li>
        <li><a href="chocolade_workshop.html"><img src="//:0" class="gallery-chocolade" /></a><a href="chocolade_workshop.html">Chocoladeworkshop</a></li>
        <li><a href="stadsspel.html"><img src="//:0" class="gallery-stadsspel" /></a><a href="stadsspel.html">Stadsspel</a></li>
        <li><a href="indoor-lasershooting.html"><img src="//:0" class="gallery-lasershooting" /></a><a href="indoor-lasershooting.html">Indoor Lasershooting</a></li>
        <li><a href="roofvogelworkshop.html"><img src="//:0" class="gallery-roofvogelworkshop" /></a><a href="roofvogelworkshop.html">Roofvogelworkshop</a></li>
        <li><a href="smaaktest.html"><img src="//:0" class="gallery-smaaktest" /></a><a href="smaaktest.html">Smaaktest</a></li>
        <li><a href="karabijnschieten.html"><img src="//:0" class="gallery-karabijnschieten" /></a><a href="karabijnschieten.html">Karabijnschieten</a></li>
      </ul>
    </section>
  </div>
  <div class="section gallery">
    <section class="kinderactiviteiten">
        <h1>Kinderactiviteiten</h1>
        <p class="tagline"><span class="action">Action Maker</span> organiseert ook activiteiten voor kinderen</p>
      <ul>
        <li><a href="/kinderactiviteiten-schermen.html"><img src="//:0" class="gallery-kinderactiviteiten-schermen" /></a><a href="/kinderactiviteiten-schermen.html">Kinder Schermen</a></li>
        <li><a href="/kinderactiviteiten-blaaspijpschieten.html"><img src="//:0" class="gallery-kinderactiviteiten-blaaspijpschieten" /></a><a href="/kinderactiviteiten-blaaspijpschieten.html">Kinder Blaaspijpschieten</a></li>
        <li><a href="kinderactiviteiten-boogschieten.html"><img src="//:0" class="gallery-kinderactiviteiten-boogschieten" /></a><a href="/kinderactiviteiten-boogschieten.html">Kinder Boogschieten</a></li>
        <li><a href="kinderactiviteiten-sumoworstelen.html"><img src="//:0" class="gallery-kinderactiviteiten-sumoworstelen" /></a><a href="/kinderactiviteiten-sumoworstelen.html">Kinder Sumoworstelen</a></li>
        <li><a href="kinderactiviteiten-pistoolschieten.html"><img src="//:0" class="gallery-kinderactiviteiten-pistoolschieten" /></a><a href="/kinderactiviteiten-pistoolschieten.html">Kinder Pistoolschieten</a></li>
        <li><a href="kinderactiviteiten-kruisboogschieten.html"><img src="//:0" class="gallery-kinderactiviteiten-kruisboogschieten" /></a><a href="/kinderactiviteiten-kruisboogschieten.html">Kinder Kruisboogschieten</a></li>
        <li><a href="kinderactiviteiten-laserkleiduifschieten.html"><img src="//:0" class="gallery-kinderactiviteiten-laserkleiduifschieten" /></a><a href="/kinderactiviteiten-laserkleiduifschieten.html">Kinder Laserkleiduifschieten</a></li>
      </ul>
    </section>
  </div>
  <div class="section team">
    <section class="animators">
      <header>
        <h1>Ons Team</h1>
        <p class="tagline"><span class="action">Action Maker</span> werkt met enthousiaste en gemotiveerde medewerkers die op professionele wijze jouw en je medewerkers begeleiden.</p>
      </header>
      <ul>
        <li><img src="//:0" class="animatoren-frederiek" />
        <h2 class="action">Frederiek Troubleyn</h2>
        <p>Oprichter Action Maker, Ex-topsporter Ugent en ex-Belgisch kampioen schermen</p>
        <li><img src="//:0" class="animatoren-hanne" />
        <h2 class="action">Hanne Cooreman</h2>
        <p>Hanne Cooreman is ex-Belgisch kampioen in het sabelschermen.</p>
        </li>
        </li>
        <li><img src="//:0" class="animatoren-jo" />
        <h2 class="action">Jo Troubleyn</h2>
        <p>Jarenlang organisator van evenementen en animaties. Ervaren kleiduifschutter.</p>
        </li>
        <li><img src="//:0" class="animatoren-andy" />
        <h2 class="action">Andy Verhalle</h2>
        <p>Andy Verhalle is reeds 19 jaar gepassioneerd en professioneel valkenier met een grote verscheidenheid aan vogels</p>
        </li>
        <li><img src="//:0" class="animatoren-steve" />
        <h2 class="action">Stephen Van Hecke</h2>
        <p>Stephen Van Hecke, meester-chocolatier, Met 4 generaties chocolatiers is de naam Van Hecke een begrip in Gent</p>
        </li>
      </ul>
    </section>
  </div>
  <div class="section referrals">
    <section class="customers">
    <header>
      <h1>Wat zeggen de klanten over ons?</h1>
    </header>
    </section>
    <section class="quotes">
      <ul class="refboxes">
        <li data-mh="block"><i class="fa fa-quote-left"></i>Nog eens bedankt voor Uw inzet, creativiteit en vooral flexibele aanpak, we hadden het weer mee wat een grote bonus was voor de activiteiten en daar heb je goed op ingespeeld !</a><i class="fa fa-quote-right"></i><br /><span class="referree">Luc Pierson, European Commission</span></li>
        <li data-mh="block"><i class="fa fa-quote-left"></i>De initiatie is mega in de smaak gevallen. Bedankt!</a><i class="fa fa-quote-right"></i><br /><span class="referree">Anja Cappelle, the Reference</span></li>
        <li data-mh="block"><i class="fa fa-quote-left"></i>Hallo Frederiek,<br />
        Alles was zeker naar wens. De reacties nadien waren heel positief!  <i class="fa fa-quote-right"></i><br /><span class="referree">Julie Dejonckheere, PwC | Consultant</span></li>
        <li data-mh="block"><i class="fa fa-quote-left"></i>Dag Frederiek,<br />
Nogmaals bedankt voor het zeer fijne event. Ik heb ondertussen niets dan positieve echo's gehoord van de mensen. <i class="fa fa-quote-right"></i><br /><span class="referree">Tom Vanoirbeek, Adecco</span></li>
      </ul>
    </section>
    <footer id="pageFooter" role="contentinfo">
      <ul class="leftcol">
        <li><span class="action">&copy; ActionMaker</span> Teambuilding en Activiteiten</li>
      </ul>
      <ul class="middle">
        <li>Fratersplein 10, 9000 Gent</li>
        <li><i class="fa fa-phone"></i><a href="tel:0485462504">0485 46 25 04</a></li>
        <li><i class="fa fa-envelope"></i><a href="mailto:info@actionmaker.be">info@actionmaker.be</a></li>
      </ul>
    </footer>
  </div>
</div>

<script type="text/javascript">
 $(document).ready(function() {
   $('#fullpage').fullpage(
     {
     anchors: ['hero', 'activities', 'kinderactiviteiten', 'team', 'referrals'],
     autoScrolling: false,
     fitToSection: false
     }
   );
   $('.bxslider').bxSlider({
     adaptiveHeight: true
   });
}); 
</script>
