---
title: "Indoor Lasershooting"
description: "Alternatief in het geval van heel slecht weer met veel wind voor het laserkleiduifschieten of een leuke activiteit op zichzelf."
---

<section class="banner">
  <img 
  srcset="images/banner-lasershooting-large.jpg 2850w,
          images/banner-lasershooting-medium.jpg 1425w,
          images/banner-lasershooting-small.jpg 700"
  src="images/banner-lasershooting-medium.jpg" alt="indoor lasershooting" />
</section>
<article class="activity">
  <header>
    <h1>Indoor Lasershooting</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>Alternatief in het geval van heel slecht weer met veel wind voor het laserkleiduifschieten of een leuke activiteit op zichzelf.</p>
    <p>Er wordt een wand of een net opgesteld waarachter verschillende verborgen doelen met sensoren gemonteerd zijn. Deze lichten op. Van zodra het juiste doel geraakt word of na 3 seconden verspringt het doel.</p>
    <p>In verschillende spelvormen moet er met originele Winchestergeweren op geschoten worden. Er wordt door vijf deelnemers tegelijkertijd geschoten.</p>
    <p>Het scorebord geeft aan wie raak heeft geschoten bij de vier verschillende spelvormen. Dit schieten is volstrekt ongevaarlijk want er wordt geschoten met infrarood (vandaar de naam laser indoorschieten)</p>
 </section>
  <section class="contactform">
    <form name="info-lasershooting" action="/bedankt.html" netlify>
      <fieldset>
        <h2>Vraag meer info over indoor lasershooting:</h2>
        <div class="field">
          <label for="name">Naam: </label>
          <input type="text" name="name" id="name" maxlength="40" size="40" required autofocus />
        </div>
        <div class="field">
          <label for="mail">Email: </label>
          <input type="email" name="mail" id="mail" maxlength="40" size="40" required />
        </div>
        <div class="field">
          <label for="phone">Telefoon: </label>
          <input type="text" name="phone" id="phone" size="15" maxlength="15" placeholder="vb. 0498137260" />
        </div>
        <div class="field">
          <label for="msg">Stel je vraag: </label><br>
          <textarea name="msg" id="msg"></textarea>
        </div>
        <div class="button">
          <button>Vraag informatie</button>
        </div>
    </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/lasershooting-1-big.jpg"><img src="//:0" class="lasershooting-1" /></a></li>
      <li><a href="/images/lasershooting-2-big.jpg"><img src="//:0" class="lasershooting-2" /></a></li>
      <li><a href="/images/lasershooting-3-big.jpg"><img src="//:0" class="lasershooting-3" /></a></li>
      <li><a href="/images/lasershooting-4-big.jpg"><img src="//:0" class="lasershooting-4" /></a></li>
      <li><a href="/images/lasershooting-5-big.jpg"><img src="//:0" class="lasershooting-5" /></a></li>
      <li><a href="/images/lasershooting-6-big.jpg"><img src="//:0" class="lasershooting-6" /></a></li>
      <li><a href="/images/lasershooting-7-big.jpg"><img src="//:0" class="lasershooting-7" /></a></li>
      <li><a href="/images/lasershooting-8-big.jpg"><img src="//:0" class="lasershooting-8" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
