---
title: "Karabijnschieten"
description: "Wie heeft een vaste hand om met knikloop enkelschotpistool de roos te treffen."
---

<section class="banner">
  <img 
  srcset="images/banner-karabijnschieten-large.jpg 2850w,
          images/banner-karabijnschieten-medium.jpg 1425w,
          images/banner-karabijnschieten-small.jpg 700w"
  src="images/banner-karabijnschieten-medium.jpg" alt="karabijnschieten" />
</section>
<article class="activity">
  <header>
    <h1>Karabijnschieten</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>Wie heeft een vaste hand om met knikloop enkelschotpistool de roos te treffen. Wij schieten met een kaliber .177.</p>
    <p>We leren u in alle veiligheid omgaan met het wapen.</p>
    <p>Eerst oefenen en dan volgt een wedstrijd op verschillende soorten doelen zoals de roos en de eendjes.  </p>
    <p>2 soorten doelen worden er gebruikt, eerst alle eendjes neerschieten en terug recht zetten.</p>
  </section>
  <section class="contactform">
    <form name="info-pistoolschieten" action="/bedankt.html">
      <fieldset>
        <h2>Vraag meer info over karabijnschieten:</h2>
        <div class="field">
          <label for="name">Naam: </label>
          <input type="text" name="name" id="name" maxlength="40" size="40" required autofocus />
        </div>
        <div class="field">
          <label for="mail">Email: </label>
          <input type="email" name="mail" id="mail" maxlength="40" size="40" required />
        </div>
        <div class="field">
          <label for="phone">Telefoon: </label>
          <input type="text" name="phone" id="phone" size="15" maxlength="15" placeholder="vb. 0498137260" />
        </div>
        <div class="field">
          <label for="msg">Stel je vraag: </label>
          <textarea name="msg" id="msg"></textarea>
        </div>
        <div class="button">
          <button>Vraag informatie</button>
        </div>
      </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/karabijnschieten-1-big.jpg"><img class="karabijnschieten-1" /></a></li>
      <li><a href="/images/karabijnschieten-2-big.jpg"><img class="karabijnschieten-2" /></a></li>
      <li><a href="/images/karabijnschieten-3-big.jpg"><img class="karabijnschieten-3" /></a></li>
      <li><a href="/images/karabijnschieten-4-big.jpg"><img class="karabijnschieten-4" /></a></li>
      <li><a href="/images/karabijnschieten-5-big.jpg"><img class="karabijnschieten-5" /></a></li>
      <li><a href="/images/karabijnschieten-6-big.jpg"><img class="karabijnschieten-6" /></a></li>
      <li><a href="/images/karabijnschieten-7-big.jpg"><img class="karabijnschieten-7" /></a></li>
      <li><a href="/images/karabijnschieten-8-big.jpg"><img class="karabijnschieten-8" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
