---
title: "Kinderactiviteiten Laserkleiduifschieten"
description: "Na een korte kennismaking wordt uitleg gegeven over het boogschieten onder andere over de verschillende bogen."
---

<section class="banner">
  <img 
  srcset="images/banner-kinderactiviteiten-laserkleiduifschieten-large.jpg 2850w,
          images/banner-kinderactiviteiten-laserkleiduifschieten-medium.jpg 1425w,
          images/banner-kinderactiviteiten-laserkleiduifschieten-small.jpg 700"
  src="images/kinderactiviteiten-banner-laserkleiduifschieten-medium.jpg" alt="laserkleiduifschieten voor kinderen" />
</section>
<article class="activity">
  <header>
    <h1>Laserkleiduifschieten voor kinderen</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>In tegenstelling tot gewoon kleiduifschieten is laserkleiduifschieten een zeer veilige activiteit, uitermate geschikt voor familiedagen en sportkampen. Kinderen die voldoende kracht hebben ( +/-14j.) kunnen zelf schieten, anders kunnen ze een helpende hand van de ouders gebruiken.</p>
  </section>
  <section class="contactform">
    <form name="info-boogschieten" action="/bedankt.html">
      <fieldset>
      <h2>Vraag info over laserkleiduifschieten voor kinderen:</h2>
      <div class="field">
        <label for="name">Naam: </label>
        <input type="text" name="name" id="name" maxlength="40" size="40" required autofocus />
      </div>
      <div class="field">
        <label for="mail">Email: </label>
        <input type="email" name="mail" id="mail" maxlength="40" size="40" required />
      </div>
      <div class="field">
        <label for="phone">Telefoon: </label>
        <input type="text" name="phone" id="phone" size="15" maxlength="15" placeholder="vb. 0498137260" />
      </div>
      <div class="field">
        <label for="msg">Stel je vraag: </label>
        <textarea name="msg" id="msg"></textarea>
      </div>
      <div class="button">
        <button>Vraag informatie</button>
      </div>
    </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/kinderactiviteiten-laserkleiduifschieten-1-big.jpg"><img class="kinderactiviteiten-laserkleiduifschieten-1" /></a></li>
      <li><a href="/images/kinderactiviteiten-laserkleiduifschieten-2-big.jpg"><img class="kinderactiviteiten-laserkleiduifschieten-2" /></a></li>
      <li><a href="/images/kinderactiviteiten-laserkleiduifschieten-3-big.jpg"><img class="kinderactiviteiten-laserkleiduifschieten-3" /></a></li>
      <li><a href="/images/kinderactiviteiten-laserkleiduifschieten-4-big.jpg"><img class="kinderactiviteiten-laserkleiduifschieten-4" /></a></li>
      <li><a href="/images/kinderactiviteiten-laserkleiduifschieten-5-big.jpg"><img class="kinderactiviteiten-laserkleiduifschieten-5" /></a></li>
      <li><a href="/images/kinderactiviteiten-laserkleiduifschieten-6-big.jpg"><img class="kinderactiviteiten-laserkleiduifschieten-6" /></a></li>
      <li><a href="/images/kinderactiviteiten-laserkleiduifschieten-7-big.jpg"><img class="kinderactiviteiten-laserkleiduifschieten-7" /></a></li>
      <li><a href="/images/kinderactiviteiten-laserkleiduifschieten-8-big.jpg"><img class="kinderactiviteiten-laserkleiduifschieten-8" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
