---
title: "Kinderactiviteiten Kruisboogschieten"
description: "Na een korte kennismaking wordt uitleg gegeven over het boogschieten onder andere over de verschillende bogen."
---

<section class="banner">
  <img 
  srcset="images/banner-kinderactiviteiten-kruisboogschieten-large.jpg 2850w,
          images/banner-kinderactiviteiten-kruisboogschieten-medium.jpg 1425w,
          images/banner-kinderactiviteiten-kruisboogschieten-small.jpg 700"
  src="images/kinderactiviteiten-banner-kruisboogschieten-medium.jpg" alt="kruisboogschieten voor kinderen" />
</section>
<article class="activity">
  <header>
    <h1>Kinderactiviteiten Kruisboogschieten</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>We zoeken een opvolger voor Willem Thell. De kinderen schieten met kruisbogen of pistoolkruisbogen onder toezicht van een ervaren instructeur. Eerst wat uitleg over de evolutie van de kruisbogen en dan schieten maar.</p><p>Gaandeweg wordt de techniek verbeterd. Er wordt afgesloten met een wedstrijd en het schieten op ballonnen.</p>
  </section>
  <section class="contactform">
    <form name="info-boogschieten" action="/bedankt.html">
      <fieldset>
      <h2>Vraag info over kruisboogschieten voor kinderen:</h2>
      <div class="field">
        <label for="name">Naam: </label>
        <input type="text" name="name" id="name" maxlength="40" size="40" required autofocus />
      </div>
      <div class="field">
        <label for="mail">Email: </label>
        <input type="email" name="mail" id="mail" maxlength="40" size="40" required />
      </div>
      <div class="field">
        <label for="phone">Telefoon: </label>
        <input type="text" name="phone" id="phone" size="15" maxlength="15" placeholder="vb. 0498137260" />
      </div>
      <div class="field">
        <label for="msg">Stel je vraag: </label>
        <textarea name="msg" id="msg"></textarea>
      </div>
      <div class="button">
        <button>Vraag informatie</button>
      </div>
    </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/kinderactiviteiten-kruisboogschieten-1-big.jpg"><img class="kinderactiviteiten-kruisboogschieten-1" /></a></li>
      <li><a href="/images/kinderactiviteiten-kruisboogschieten-2-big.jpg"><img class="kinderactiviteiten-kruisboogschieten-2" /></a></li>
      <li><a href="/images/kinderactiviteiten-kruisboogschieten-3-big.jpg"><img class="kinderactiviteiten-kruisboogschieten-3" /></a></li>
      <li><a href="/images/kinderactiviteiten-kruisboogschieten-4-big.jpg"><img class="kinderactiviteiten-kruisboogschieten-4" /></a></li>
      <li><a href="/images/kinderactiviteiten-kruisboogschieten-5-big.jpg"><img class="kinderactiviteiten-kruisboogschieten-5" /></a></li>
      <li><a href="/images/kinderactiviteiten-kruisboogschieten-6-big.jpg"><img class="kinderactiviteiten-kruisboogschieten-6" /></a></li>
      <li><a href="/images/kinderactiviteiten-kruisboogschieten-7-big.jpg"><img class="kinderactiviteiten-kruisboogschieten-7" /></a></li>
      <li><a href="/images/kinderactiviteiten-kruisboogschieten-8-big.jpg"><img class="kinderactiviteiten-kruisboogschieten-8" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
