---
title: "Kinderactiviteiten: Katapultschieten"
description: "Blaaspijpschieten voor kinderen is erg populair. Het is een spannende en uitdagende activiteit voor alle leeftijden."
---

<section class="banner">
  <img 
  srcset="images/banner-kinderactiviteiten-katapultschieten-large.jpg 2850w,
          images/banner-kinderactiviteiten-katapultschieten-medium.jpg 1425w,
          images/banner-kinderactiviteiten-katapultschieten-small.jpg 700w"
  src="images/banner-kinderactiviteiten-katapultschieten-medium.jpg" alt="katapultschieten" />
</section>
<article class="activity">
  <header>
    <h1>Katapultschieten voor kinderen</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>Duurtijd: 30min-60min</p>
    <p>Benodigde oppervlakte: minimum 10m op 8m en 10m vrije ruimte achteraan of muur of iets dergelijks</p>
    <p>Katapultschieten is een spel dat iedereen wel kent. Veel jongeren hebben vroeger plezier gehad in het wegschieten van knikkers of steentjes. Dat het een echte sport is weten veel minder mensen.</p>
    <p>Onze katapulten schieten met aangepaste pijlen voor kinderen. Eerst laten we ze oefenen en daarna organiseren we een wedstrijd.</p>

    
  </section>
  <section class="contactform">
    <form name="info-katapultschieten" action="/bedankt.html">
      <fieldset>
        <h2>Vraag meer info over katapultschieten:</h2>
        <div class="field">
          <label for="name">Naam: </label>
          <input type="text" name="name" id="name" maxlength="40" size="40" required autofocus />
        </div>
        <div class="field">
          <label for="mail">Email: </label>
          <input type="email" name="mail" id="mail" maxlength="40" size="40" required />
        </div>
        <div class="field">
          <label for="phone">Telefoon: </label>
          <input type="text" name="phone" id="phone" size="15" maxlength="15" placeholder="vb. 0498137260" />
        </div>
        <div class="field">
          <label for="msg">Stel je vraag: </label><br>
          <textarea name="msg" id="msg"></textarea>
        </div>
        <div class="button">
          <button>Vraag informatie</button>
        </div>
    </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/kinderactiviteiten-katapultschieten-1-big.jpg"><img src="//:0" class="kinderactiviteiten-katapultschieten-1" /></a></li>
      <li><a href="/images/kinderactiviteiten-katapultschieten-2-big.jpg"><img src="//:0" class="kinderactiviteiten-katapultschieten-2" /></a></li>
      <li><a href="/images/kinderactiviteiten-katapultschieten-3-big.jpg"><img src="//:0" class="kinderactiviteiten-katapultschieten-3" /></a></li>
      <li><a href="/images/kinderactiviteiten-katapultschieten-4-big.jpg"><img src="//:0" class="kinderactiviteiten-katapultschieten-4" /></a></li>
      <li><a href="/images/kinderactiviteiten-katapultschieten-5-big.jpg"><img src="//:0" class="kinderactiviteiten-katapultschieten-5" /></a></li>
      <li><a href="/images/kinderactiviteiten-katapultschieten-6-big.jpg"><img src="//:0" class="kinderactiviteiten-katapultschieten-6" /></a></li>
      <li><a href="/images/kinderactiviteiten-katapultschieten-7-big.jpg"><img src="//:0" class="kinderactiviteiten-katapultschieten-7" /></a></li>
      <li><a href="/images/kinderactiviteiten-katapultschieten-8-big.jpg"><img src="//:0" class="kinderactiviteiten-katapultschieten-8" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
