---
title: "Sumoworstelen voor kinderen"
description: "Naast gewoon sumoworstelen hebben we nu ook de sumotweeling, dit is een erg leuke variant op het welbekende sumoworstel spel"
---

<section class="banner">
  <img 
  srcset="images/banner-kinderactiviteiten-sumoworstelen-large.jpg 2850w,
          images/banner-kinderactiviteiten-sumoworstelen-medium.jpg 1425w,
          images/banner-kinderactiviteiten-sumoworstelen-small.jpg 700"
  src="images/banner-kinderactiviteiten-sumoworstelen-medium.jpg" alt="sumoworstelen voor kinderen" />
</section>
<article class="activity">
  <header>
    <h1>Sumoworstelen voor kinderen</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>Ook voor kinderen is sumoworstelen een hele leuke manier om hun energie de vrije loop te laten. De pakken, hoofddeksels en nekbeschermers worden voorzien in een aangepast formaat.</p><p>Alles om op een veilige manier stoom af te laten en elkaar te bekampen. Eerst een kleine uitleg over het sumoworstelen en de rituelen en dan worstelen maar, in drie rondes zoeken we een overwinnaar.</p>
  </section>
  <section class="contactform">
    <form name="info-sumoworstelen" action="/bedankt.html" netlify>
      <fieldset>
        <h2>Vraag info over sumoworstelen voor kinderen</h2>
      <div class="field">
        <label for="name">Naam: </label>
        <input type="text" name="name" id="name" maxlength="40" size="40" required autofocus />
      </div>
      <div class="field">
        <label for="mail">Email: </label>
        <input type="email" name="mail" id="mail" maxlength="40" size="40" required />
      </div>
      <div class="field">
        <label for="phone">Telefoon: </label>
        <input type="text" name="phone" id="phone" size="15" maxlength="15" placeholder="vb. 0498137260" />
      </div>
      <div class="field">
        <label for="msg">Stel je vraag: </label><br>
        <textarea name="msg" id="msg"></textarea>
      </div>
      <div class="button">
        <button>Vraag informatie</button>
      </div>
    </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/kinderactiviteiten-sumoworstelen-1-big.jpg"><img src="//:0" class="kinderactiviteiten-sumoworstelen-1" /></a></li>
      <li><a href="/images/kinderactiviteiten-sumoworstelen-2-big.jpg"><img src="//:0" class="kinderactiviteiten-sumoworstelen-2"/></a></li>
      <li><a href="/images/kinderactiviteiten-sumoworstelen-3-big.jpg"><img src="//:0" class="kinderactiviteiten-sumoworstelen-3" /></a></li>
      <li><a href="/images/kinderactiviteiten-sumoworstelen-4-big.jpg"><img src="//:0" class="kinderactiviteiten-sumoworstelen-4" /></a></li>
      <li><a href="/images/kinderactiviteiten-sumoworstelen-5-big.jpg"><img src="//:0" class="kinderactiviteiten-sumoworstelen-5" /></a></li>
      <li><a href="/images/kinderactiviteiten-sumoworstelen-6-big.jpg"><img src="//:0" class="kinderactiviteiten-sumoworstelen-6" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
