---
title: "Kunstsmeden"
description: "Smeed met je collega’s het bedrijfslogo of bedrijfsnaam in een actieveen warme teambuilding"
---

<section class="banner">
  <img 
  srcset="images/banner-kunstsmeden-large.jpg 2850w,
          images/banner-kunstsmeden-medium.jpg 1425,
          images/banner-kunstsmeden-small.jpg 700w"
  src="images/banner-schermen-medium.jpg" alt="schermen" />
</section>
<article class="activity">
  <header>
    <h1>Kunstsmeden</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>"Het smidsberoep is een zeer oud beroep en heeft in het verleden vele werkstukken voortgebracht. Tot halverwege de twintigste eeuw had vrijwel iedere plaats zijn eigen smederij. Sindsdien is het beroep veel zeldzamer geworden. Machinaal smeden op industriële schaal wordt nog wel veel toegepast.</p>
    <p>Van het smeden van ploegen, zwaarden en pantsers tot zilveren en gouden sieraden, het smidsberoep is van cruciaal belang geweest in de wereldgeschiedenis.</p>
    <p>Wil je zelf eens aan de slag met hamer en aanbeeld? Smeed met je collega’s het bedrijfslogo of bedrijfsnaam in een actieve (en warme) teambuilding of maak samen met je vrienden en familie een uniek cadeau voor een verjaardag of een trouw.
    Onder begeleiding van een ervaren smid leer je de kneepjes van het vak waarna je een schort, handschoenen en een veiligheidsbril krijgt zodat je zelf aan de slag kan gaan. En op het einde krijg je natuurlijk je creaties mee naar huis."</p>
  </section>
  <section class="contactform">
    <form name="info-kunstsmeden" action="/bedankt.html">
      <fieldset>
      <h2>Vraag meer info over de kunstsmeden:</h2>
      <div class="field">
        <label for="name">Naam: </label>
        <input type="text" name="name" id="name" required autofocus />
      </div>
      <div class="field">
        <label for="mail">Email: </label>
        <input type="email" name="mail" id="mail" required />
      </div>
      <div class="field">
        <label for="phone">Telefoon: </label>
        <input type="text" name="phone" id="phone" size="15" maxlength="15" placeholder="vb. 0498137260" />
      </div>
      <div class="field">
        <label for="msg">Stel je vraag: </label><br>
        <textarea name="msg" id="msg"></textarea>
      </div>
      <div class="button">
        <button>Vraag informatie</button>
      </div>
    </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/kunstsmeden-1-big.jpg"><img src="//:0" class="kunstsmeden-1" /></a></li>
      <li><a href="/images/kunstsmeden-2-big.jpg"><img src="//:0" class="kunstsmeden-2" /></a></li>
      <li><a href="/images/kunstsmeden-3-big.jpg"><img  src="//:0" class="kunstsmeden-3" /></a></li>
      <li><a href="/images/kunstsmeden-4-big.jpg"><img  src="//:0" class="kunstsmeden-4" /></a></li>
      <li><a href="/images/kunstsmeden-5-big.jpg"><img  src="//:0" class="kunstsmeden-5" /></a></li>
      <li><a href="/images/kunstsmeden-6-big.jpg"><img  src="//:0" class="kunstsmeden-6" /></a></li>
      <li><a href="/images/kunstsmeden-7-big.jpg"><img  src="//:0" class="kunstsmeden-7" /></a></li>
      <li><a href="/images/kunstsmeden-8-big.jpg"><img  src="//:0" class="kunstsmeden-8" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
