---
title: ActionMaker | Media 
description: "ActionMaker komt regelmatig in de media. Zie hier enkele fragmenten"
---
<section class="banner">
  <img 
  srcset= "images/banner-large.jpg 2850w,
          images/banner-medium.jpg 1425w,
          images/banner-small.jpg 700w" src="images/banner-medium.jpg" alt="schermen" />
</section>
<article class="media">
  <header>
    <h1>ActionMaker in de Media</h1>
    <p class="tagline"><span class="action">Action</span> Maker komt regelmatig in de media. Zie hier enkele fragmenten</p>
  </header>
  <section class="videos">
      <ul>
        <li><a href="/video-revanche.html"><%= image_tag "screenshot-revanche.jpg" %><br>Reclame-filmpje Revanche</a></li>
        <li><a href="/video-jimtv.html"><%= image_tag "screenshot-ketnet.jpg" %><br>Intervieuw met JimTV</a></li>
        <li><a href="/video-manager-van-het-jaar.html"><%= image_tag "screenshot-manager-van-het-jaar.jpg" %><br>Manager van het jaar event</a></li>
      </ul>
  </section>
</div>
</article>

