---
title: "Pistoolschieten"
description: "Wie heeft een vaste hand om met knikloop enkelschotpistool de roos te treffen."
---

<section class="banner">
  <img 
  srcset="images/banner-pistoolschieten-large.jpg 2850w,
          images/banner-pistoolschieten-medium.jpg 1425w,
          images/banner-pistoolschieten-small.jpg 700w"
  src="images/banner-pistoolschieten-medium.jpg" alt="pistoolschieten" />
</section>
<article class="activity">
  <header>
    <h1>Pistoolschieten</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>Wie heeft een vaste hand om met knikloop enkelschotpistool de roos te treffen. Wij schieten met een kaliber .177.</p>
    <p>We leren u in alle veiligheid omgaan met het wapen.</p>
    <p>Eerst oefenen en dan volgt een wedstrijd op verschillende soorten doelen zoals de roos en de eendjes.  </p>
    <p>2 soorten doelen worden er gebruikt, eerst alle eendjes neerschieten en terug recht zetten.</p>
  </section>
  <section class="contactform">
    <form name="info-pistoolschieten" action="/bedankt.html">
      <fieldset>
        <h2>Vraag meer info over pistoolschieten:</h2>
      <div class="field">
        <label for="name">Naam:</label>
        <input type="text" name="name" autofocus required />
      </div>
      <div class="field">
        <label for="mail">Email:</label>
        <input type="email" name="mail" required />
      </div>
      <div class="field">
        <label for="phone">Telefoon:</label>
        <input type="text" name="phone" />
      </div>
      <div class="field">
        <label for="msg">Bijkomende informatie:</label>
        <textarea name="msg"></textarea>
      </div>
      <div class="button">
        <button>Verzenden</button>
      </div>
    </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/pistoolschieten-1-big.jpg"><img class="pistoolschieten-1" /></a></li>
      <li><a href="/images/pistoolschieten-2-big.jpg"><img class="pistoolschieten-2" /></a></li>
      <li><a href="/images/pistoolschieten-3-big.jpg"><img class="pistoolschieten-3" /></a></li>
      <li><a href="/images/pistoolschieten-4-big.jpg"><img class="pistoolschieten-4" /></a></li>
      <li><a href="/images/boogschieten-5-big.jpg"><img class="pistoolschieten-5" /></a></li>
      <li><a href="/images/pistoolschieten-1-big.jpg"><img class="pistoolschieten-1" /></a></li>
      <li><a href="/images/pistoolschieten-2-big.jpg"><img class="pistoolschieten-2" /></a></li>
      <li><a href="/images/pistoolschieten-3-big.jpg"><img class="pistoolschieten-3" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
