---
title: "(Pistool)Kruisboogschieten"
description: "De kruisboog is een eeuwenoud mechanisch wapen waarbij een pijl met grote kracht wordt weggeschoten."
---

<section class="banner">
  <img 
  srcset="images/banner-pistool-kruisboogschieten-large.jpg 2850w,
          images/banner-pistool-kruisboogschieten-medium.jpg 1425w,
          images/banner-pistool-kruisboogschieten-small.jpg 700w"
  src="images/banner-pistool-kruisboogschieten-medium", alt="pistool-kruisboogschieten" />
</section>
<article class="activity">
  <header>
    <h1>(Pistool)Kruisboogschieten</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>De kruisboog is een eeuwenoud mechanisch wapen waarbij een pijl met grote kracht wordt weggeschoten.</p>
    <p>Na een uitleg door een ervaren initiator beginnen wij meteen oefensessie met pistoolkruisbogen en geweerkruisboogschieten.Concentratie en techniek gaan hierbij letterlijk hand in hand.</p>
    <p>Een kruisboog pistool is zeker geen speelgoed. Ook een kruisboogpistool met een trekgewicht van 50 LBS schiet meer dan 20 meter ver en zuiver.Een uitvoering van 80 LBS schiet nog verder. Een pistoolkruisboog heeft driekeer de inslagkracht die nodig is voor het doden van klein wild zoals eenkonijn.</p>
    <p>Na de oefensessie wordt het competitiegedeelte ingezet wantdan wordt er voor de teampunten of individuele punten geschoten. Iederedeelnemer schiet dan een vooraf afgesproken aantal pijlen.</p>
    <p>Voel je gedurende onze initiatie kruisboogschieten de nieuweWillem Tel</p>
  </section>
  <section class="contactform">
    <form name="info-pistool-kruisboogschieten" action="/bedankt.html">
      <fieldset>
      <div class="field">
        <label for="name">Naam:</label>
        <input type="text" name="name"/>
      </div>
      <div class="field">
        <label for="mail">Email:</label>
        <input type="email" name="mail" />
      </div>
      <div class="field">
        <label for="phone">Telefoon:</label>
        <input type="text" name="phone" />
      </div>
      <div class="field">
        <label for="msg">Bijkomende informatie:</label>
        <textarea name="msg"></textarea>
      </div>
      <div class="button">
        <button>Verzenden</button>
      </div>
    </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/pistool-kruisboogschieten-1-big.jpg"><img class="pistool-kruisboogschieten-1" /></a></li>
      <li><a href="/images/pistool-kruisboogschieten-2-big.jpg"><img class="pistool-kruisboogschieten-2" /></a></li>
      <li><a href="/images/pistool-kruisboogschieten-3-big.jpg"><img class="pistool-kruisboogschieten-3" /></a></li>
      <li><a href="/images/pistool-kruisboogschieten-4-big.jpg"><img class="pistool-kruisboogschieten-4" /></a></li>
      <li><a href="/images/pistool-kruisboogschieten-5-big.jpg"><img class="pistool-kruisboogschieten-5" /></a></li>
      <li><a href="/images/pistool-kruisboogschieten-6-big.jpg"><img class="pistool-kruisboogschieten-6" /></a></li>
      <li><a href="/images/pistool-kruisboogschieten-7-big.jpg"><img class="pistool-kruisboogschieten-7" /></a></li>
      <li><a href="/images/pistool-kruisboogschieten-8-big.jpg"><img class="pistool-kruisboogschieten-8" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
