---
title: "Roofvogelworkshop"
description: "Blaaspijpschieten is erg populair. Het is een spannende en uitdagende activiteit voor alle leeftijden."
---

<section class="banner">
  <img 
  srcset="images/banner-roofvogelworkshop-large.jpg 2850w,
          images/banner-roofvogelworkshop-medium.jpg 1425w,
          images/banner-roofvogelworkshop-small.jpg 700w"
  src="images/banner-roofvogelworkshop-medium.jpg" alt="roofvogelworkshop" />
</section>
<article class="activity">
  <header>
    <h1>Roofvogelworkshop</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>Under construction</p>
  </section>
  <section class="contactform">
    <form name="info-roofvogelworkshop" action="/bedankt.html">
      <fieldset>
        <h2>Vraag meer info over de roofvogelworkshop:</h2>
        <div class="field">
          <label for="name">Naam: </label>
          <input type="text" name="name" id="name" maxlength="40" size="40" required autofocus />
        </div>
        <div class="field">
          <label for="mail">Email: </label>
          <input type="email" name="mail" id="mail" maxlength="40" size="40" required />
        </div>
        <div class="field">
          <label for="phone">Telefoon: </label>
          <input type="text" name="phone" id="phone" size="15" maxlength="15" placeholder="vb. 0498137260" />
        </div>
        <div class="field">
          <label for="msg">Stel je vraag: </label>
          <textarea name="msg" id="msg"></textarea>
        </div>
        <div class="button">
          <button>Vraag informatie</button>
        </div>
    </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/roofvogelworkshop-1-big.jpg"><img class="roofvogelworkshop-1" /></a></li>
      <li><a href="/images/roofvogelworkshop-2-big.jpg"><img class="roofvogelworkshop-2" /></a></li>
      <li><a href="/images/roofvogelworkshop-3-big.jpg"><img class="roofvogelworkshop-3" /></a></li>
      <li><a href="/images/roofvogelworkshop-4-big.jpg"><img class="roofvogelworkshop-4" /></a></li>
      <li><a href="/images/roofvogelworkshop-5-big.jpg"><img class="roofvogelworkshop-5" /></a></li>
      <li><a href="/images/roofvogelworkshop-6-big.jpg"><img class="roofvogelworkshop-6" /></a></li>
      <li><a href="/images/roofvogelworkshop-7-big.jpg"><img class="roofvogelworkshop-7" /></a></li>
      <li><a href="/images/roofvogelworkshop-8-big.jpg"><img class="roofvogelworkshop-8" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
