---
title: "Scherminitiatie"
description: "De scherminitiatie wordt telkens afgesloten met onderlinge duels waar de deelnemers elkaar kunnen uitdagen."
---

<section class="banner">
  <img 
  srcset="images/banner-schermen-large.jpg 2850w,
          images/banner-schermen-medium.jpg 1425,
          images/banner-schermen-small.jpg 700w"
  src="images/banner-schermen-medium.jpg" alt="schermen" />
</section>
<article class="activity">
  <header>
    <h1>Scherminitiatie</h1>
  </header>
  <div class="content">
  <section class="bodytext">
    <p>De initiatie schermen laat u kennis maken met deze "ridderlijke" sport die toch voor de meeste mensen nog vrij onbekend is.</p>
    <p>Verschillende basistechnieken worden op een aangename en dynamische manier aangeleerd:</p>
    <ul>
      <li>salueren</li>
      <li>houding</li>
      <li>basispassen</li>
      <li>uitval</li>
      <li>parades</li>
    </ul>
    <p>Voor elke deelnemer wordt er een basisuitrusting voorzien: een schermvest, een masker en een wapen.</p>
    <p>De scherminitiatie wordt telkens afgesloten met onderlinge duels waar de deelnemers elkaar kunnen uitdagen.</p>
  </section>
  <section class="contactform">
    <form name="info-schermen" action="/bedankt.html" netlify>
      <fieldset>
      <h2>Vraag meer info over de scherminitiatie:</h2>
      <div class="field">
        <label for="name">Naam: </label>
        <input type="text" name="name" id="name" required autofocus />
      </div>
      <div class="field">
        <label for="mail">Email: </label>
        <input type="email" name="mail" id="mail" required />
      </div>
      <div class="field">
        <label for="phone">Telefoon: </label>
        <input type="text" name="phone" id="phone" size="15" maxlength="15" placeholder="vb. 0498137260" />
      </div>
      <div class="field">
        <label for="msg">Stel je vraag: </label><br>
        <textarea name="msg" id="msg"></textarea>
      </div>
      <div class="button">
        <button>Vraag informatie</button>
      </div>
    </fieldset>
    </form>
  </section>
</div>
  <section class="gallery">
    <ul>
      <li><a href="/images/schermen-1-big.jpg"><img src="//:0" class="schermen-1" /></a></li>
      <li><a href="/images/schermen-2-big.jpg"><img src="//:0" class="schermen-2" /></a></li>
      <li><a href="/images/schermen-3-big.jpg"><img  src="//:0" class="schermen-3" /></a></li>
      <li><a href="/images/schermen-4-big.jpg"><img  src="//:0" class="schermen-4" /></a></li>
      <li><a href="/images/schermen-5-big.jpg"><img  src="//:0" class="schermen-5" /></a></li>
      <li><a href="/images/schermen-6-big.jpg"><img  src="//:0" class="schermen-6" /></a></li>
      <li><a href="/images/schermen-7-big.jpg"><img  src="//:0" class="schermen-7" /></a></li>
      <li><a href="/images/schermen-8-big.jpg"><img  src="//:0" class="schermen-8" /></a></li>
    </ul>
  </section>
</article>
<script>
  $(document).ready(function() {
    $('.gallery').magnificPopup({
  delegate: 'a', // child items selector, by clicking on it popup will open
  type: 'image',
  // other options
  gallery:{
    enabled:true
  }
});
  });
</script>
