---
title: "ActionMaker | Ketnet"
description: "Frederiek heeft een scherminitiatie aan de Ketnet wrappers."
---
<article id="video">
  <header>
    <h1>JimTV</h1>
    <p class="tagline">Frederiek heeft een scherminitiatie aan de wrappers van JimTV.</p>
  </header>
  <section class="video">
    <iframe src="//content.jwplatform.com/players/JNFGGAqF-XIUGT2YF.html" width="480" height="270" frameborder="0" scrolling="auto" allowfullscreen></iframe>
  </section>
</article>

