---
title: "ActionMaker | Ketnet"
description: "Frederiek heeft een scherminitiatie aan de Ketnet wrappers."
---
<article id="video">
  <header>
    <h1>Ketnet</h1>
    <p class="tagline">Frederiek heeft een scherminitiatie aan de Ketnet wrappers.</p>
  </header>
  <section class="video">
    <video controls="controls" id="player1" preload="none">
      <source type="video/youtube" src="https://www.youtube.com/watch?v=O77mcc1JNOo" />
    </video>
  </section>
</article>
<script>
  $('video').mediaelementplayer({
    success: function(player, node) {
      $('#' + node.id + '-mode').html('mode: ' + player.pluginType);
    },
    startLanguage: 'en',
    translationSelector: true
  });
</script>

