---
title: "ActionMaker | Revanche"
description: "Reclame filmpje met schermers"
---
<article id="video">
  <header>
    <h1>Revanche</h1>
    <p class="tagline">Reclamefilmpje Revanche</p>
  </header>
  <section class="video">
    <video controls="controls">
      <source src="media/revanche.mp4" type="video/mp4">
    </video>
  </section>
</article>
<script>
  $('video').mediaelementplayer({
    success: function(player, node) {
      $('#' + node.id + '-mode').html('mode: ' + player.pluginType);
    },
    startLanguage: 'en',
    translationSelector: true
  });
</script>

