---
title: "ActionMaker | Revanche"
description: "Reclame filmpje met schermers"
---
<article id="video">
  <header>
    <h1>Revanche</h1>
    <p class="tagline">Reclamefilmpje Revanche</p>
  </header>
  <section class="video">
    <video width="640" height="360" controls="controls" id="player1" preload="none">
      <source type="video/youtube" src="https://youtu.be/kfqp8p8Q4tE" />
      <source type="video/youtube" src="https://youtu.be/w5K1pq15V_o" />
    </video>
  </section>
</article>
<script>
  $('video').mediaelementplayer({
    success: function(player, node) {
      $('#' + node.id + '-mode').html('mode: ' + player.pluginType);
    },
    startLanguage: 'en',
    translationSelector: true
  });
</script>

