---
title: "ActionMaker | Mijn lief is vrijgezel"
description: "filmpje sumoworstelen in mijn lief is vrijgezel"
---
<article id="video">
  <header>
    <h1>JimTV</h1>
    <p class="tagline">Action Maker verzorgde het sumoworstelen in Mijn lief is vrijgezel op Vier</p>
  </header>
  <section class="video">
    <iframe src="//content.jwplatform.com/players/tRkMGO3b-XIUGT2YF.html" width="480" height="270" frameborder="0" scrolling="auto" allowfullscreen></iframe>
  </section>
</article>
