---
title: "ActionMaker | Manager van het jaar"
description: "Reclame filmpje met schermers"
---
<article id="video">
  <header>
    <h1>Manager van het Jaar</h1>
    <p class="tagline">Schermdemonstratie op Manager van het Jaar event</p>
  </header>
  <section class="video">
    <iframe src="//content.jwplatform.com/players/FRjQ8NSY-XIUGT2YF.html" width="480" height="270" frameborder="0" scrolling="auto" allowfullscreen></iframe>
  </section>
</article>

